.about-clinic__full-img {
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 20px 0;

	img {
		width: 100%;
		height: auto;
	}
}

.about-clinic__people__item {
	position: relative;
	width: 23.5%;
	height: 183px;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
	margin: 30px 4.9%;
	float: left;

	@media (max-width: 490px) {
		width: 37.4%;
		height: 150px;
		margin: 30px 6.3%;
	}
	
	&:hover {
		.about-clinic__people__item__hover {
			display: block;
		}
	}
}

.about-clinic__people__item__img {
	width: 100%;
	height: auto;

	p {
		margin: 0;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.about-clinic__people__item__hover {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	margin: auto;
	background: rgba(0, 165, 226, .8);

	p {
		font-family: Raleway, sans-serif;
		font-size: 16px;
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		color: #ffffff;
		padding-top: 30px;

		span {
			display: inline-block;
			font-size: 18px;
			font-size: 1.125rem;
			font-weight: lighter;
			text-transform: none;
			margin-top: 15px;
		}
	}
}