.contact__left {
	width: 48%;
	margin-right: 2%;
	float: left;

	@media (max-width: 600px) {
		width: 100%;
		margin: 0;
	}
}

.contact__right {
	width: 48%;
	margin-left: 2%;
	float: left;

	@media (max-width: 600px) {
		width: 100%;
		margin: 0;
	}
}

.img {
	width: 95.3%;
	height: auto;

	img {
		width: 100%;
		height: auto;
	}
}