* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat.otf") format("opentype");
  src: url('../fonts/Montserrat.eot') format("embedded-opentype");
}
@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: Montserrat;
  font-weight: bolder;
  src: url("../fonts/Montserrat-Bold.otf") format("opentype");
}
@font-face {
  font-family: Montserrat;
  font-weight: lighter;
  src: url("../fonts/Montserrat-Light.otf") format("opentype");
}
@font-face {
  font-family: Montserrat-Hairline;
  src: url("../fonts/Montserrat-Hairline.otf") format("opentype");
}
@font-face {
  font-family: Raleway, sans-serif;
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Raleway, sans-serif;
  font-weight: lighter;
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}
h2 {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #33322e;
  text-align: center;
  margin: 55px 0;
}
h2:before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 19px;
  background: url("../img/icon-paw-h2.png") 50% 0% no-repeat;
  margin-bottom: 5px;
}
.bg-cat {
  display: none;
}
@media (max-width: 1900px) {
  .bg-cat {
    display: none;
  }
}
.bg-cat--sp {
  display: none;
  bottom: 500px;
}
.bg-catTop {
  position: absolute;
  top: 650px;
  left: 0;
}
@media (max-width: 1900px) {
  .bg-catTop {
    display: none;
  }
}
.bg-catTop--sp {
  top: 400px;
}
.bg-dog {
  position: absolute;
  top: 1020px;
  right: 0;
}
@media (max-width: 1900px) {
  .bg-dog {
    display: none;
  }
}
.inner-wrapper {
  width: 100%;
  max-width: 1181px;
  margin: auto;
  padding: 0 1%;
}
.content {
  width: 100%;
  max-width: 1181px;
  margin: auto;
}
@media (max-width: 1181px) {
  .content {
    padding: 0 1%;
  }
}
.content__left {
  width: 66%;
  margin-right: 1.5%;
  padding: 0 1%;
  float: left;
}
@media (max-width: 915px) {
  .content__left {
    width: 90%;
    margin: 0 5%;
  }
}
.content__left h3 {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-size: 1.250rem;
  font-weight: bolder;
  color: #33322e;
  margin: 30px 0;
}
@media (max-width: 915px) {
  .content__left h3 {
    text-align: center;
  }
}
.content__left h4 {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bolder;
  color: #33322e;
}
.content__left h5 {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #00a5e2;
}
.content__left h6 {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #00a5e2;
}
.content__left p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  color: #33322e;
}
@media (max-width: 915px) {
  .content__left p {
    line-height: 1.5rem;
  }
}
.content__left a {
  font-weight: bold;
  text-decoration: underline;
  color: #e8990f;
}
.content__left a:hover {
  text-decoration: none;
}
.content__left ul {
  font-family: Raleway, sans-serif;
}
.content__right {
  width: 32.4%;
  float: left;
}
@media (max-width: 915px) {
  .content__right {
    width: 90%;
    margin: 0 5%;
  }
}
.sp-contact-form {
  text-align: center;
}
.sp-contact-form input[type="text"] {
  width: 48%;
  height: 57px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  border: none;
  border-radius: 4px;
  border: 1px solid #e0e1e1;
  background: #ffffff;
  margin-right: 1%;
  padding: 0 2%;
  float: left;
}
.sp-contact-form input[type="submit"] {
  width: 210px;
  height: 55px;
  font-family: Montserrat;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background: #00a5e2 url("../img/btn-bg.png") 5% 50% no-repeat;
  margin-top: 15px;
}
.sp-contact-form textarea {
  width: 97%;
  height: 200px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  border: none;
  border-radius: 4px;
  border: 1px solid #e0e1e1;
  background: #ffffff;
  margin-top: 10px;
  padding: 2%;
  float: left;
}
.side-menu ul {
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
}
.side-menu li {
  display: inline-block;
  width: 100%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  margin: 5px 0 0 0;
}
.side-menu li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #52514e;
  border-radius: 4px;
  background: #e7e9ea url("../img/icon-side-menu-arrow.png") 95% 50% no-repeat;
  transition: 300ms;
  padding: 20px 5%;
}
.side-menu li a:hover {
  color: #ffffff;
  background: #00a5e2 url("../img/icon-side-menu-arrow-hover.png") 95% 50% no-repeat;
}
.side-menu .active a {
  color: #ffffff;
  background: #00a5e2 url("../img/icon-side-menu-arrow-hover.png") 95% 50% no-repeat;
}
.sp-banner-emergency {
  height: 141px;
  text-align: center;
  background: #da8f11 url("../img/sp-banner-emergency.png") no-repeat;
  background-size: cover;
  margin: 30px 0 10px 0;
}
.sp-banner-emergency span {
  display: inline-block;
  font-family: Montserrat;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1d1916;
  text-transform: uppercase;
  margin-top: 10px;
}
.sp-banner-emergency span:before {
  display: inline-block;
  content: "";
  width: 34px;
  height: 38px;
  background: url("../img/icon-emergency.png") no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}
.sp-banner-emergency p {
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-size: 2.250rem;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 360px) {
  .sp-banner-emergency p {
    font-size: 25px;
    font-size: 1.563rem;
  }
}
.sp-banner-ordinary-hours {
  height: 189px;
  text-align: center;
  background: url("../img/banner-ordinary-hours-bg.png") no-repeat;
  background-size: cover;
}
.sp-banner-ordinary-hours .title {
  display: inline-block;
  font-family: Montserrat;
  font-size: 24px;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
}
.sp-banner-ordinary-hours .title:before {
  display: inline-block;
  content: "";
  width: 31px;
  height: 31px;
  vertical-align: middle;
  background: url("../img/icn-ordinary-hours.png") no-repeat;
  margin-right: 20px;
}
.sp-banner-ordinary-hours p {
  font-family: Raleway, sans-serif;
  font-size: 1.250rem;
  color: #ffffff;
  text-align: left;
  padding: 0 15%;
}
@media (max-width: 360px) {
  .sp-banner-ordinary-hours p {
    font-size: 16px;
    font-size: 1rem;
  }
}
.sp-banner-ordinary-hours p span {
  font-weight: bold;
  float: right;
}
.sp-banner-derma-center {
  height: 179px;
  background: url("../img/banner-sp-derma-center.png") no-repeat;
  background-size: cover;
  margin-top: 10px;
  clear: both;
}
.sp-banner-derma-center span {
  display: inline-block;
  font-family: Montserrat;
  font-size: 20px;
  font-size: 1.250rem;
  font-weight: lighter;
  margin-top: 50px;
  padding: 0 4%;
}
.sp-banner-derma-center span:after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50px;
  background: #e8990f url("../img/hp-services-arrow-bg.png") 50% 50% no-repeat;
  margin-top: 10px;
  transition: 300ms;
}
.sp-banner-derma-center span strong {
  font-weight: bold;
}
.sp-banner-derma-center a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #3f3b34;
  text-decoration: none;
}
.sp-banner-derma-center a:hover span:after {
  margin-left: 10px;
}
.pagination {
  height: 53px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 60px 0;
}
.pagination a {
  display: inline-block;
  width: 38px;
  height: 38px;
  font-size: 17px;
  font-size: 1.063rem;
  text-decoration: none;
  color: #3d4041;
  border-radius: 50px;
  background: #e1e6e8;
  transition: 300ms;
  padding: 7px 0;
}
.pagination a:hover {
  width: 53px;
  height: 53px;
  font-size: 24px;
  font-size: 1.500rem;
  color: #ffffff;
  background: #00a5e2;
  padding: 10px 0;
}
.pagination .active {
  width: 53px;
  height: 53px;
  font-size: 24px;
  font-size: 1.500rem;
  color: #ffffff;
  background: #00a5e2;
  padding: 10px 0;
}
.fb-page {
  width: 100% !important;
  margin-top: 10px;
}
@media (max-width: 915px) {
  .fb-page {
    display: none;
  }
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
@media (max-width: 915px) {
  .fb_iframe_widget,
  .fb_iframe_widget span,
  .fb_iframe_widget span iframe[style] {
    display: none;
  }
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.footer {
  font-family: 'Open-sans', sans-serif;
  font-size: 13px;
  font-size: 0.813rem;
  letter-spacing: .7px;
  color: #cfcfcf;
  background: #33322E;
  padding: 10px 0;
}
@media (max-width: 695px) {
  .footer {
    text-align: center;
  }
}
.footer p {
  display: inline-block;
  margin: 12px 0 10px 0;
  vertical-align: middle;
}
@media (max-width: 695px) {
  .footer p {
    width: 100%;
  }
}
.footer span {
  float: right;
}
@media (max-width: 695px) {
  .footer span {
    float: none;
  }
}
.footer img {
  vertical-align: middle;
  margin-left: 15px;
}
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.head {
  width: 100%;
  height: auto;
  padding-top: 165px;
}
@media (max-width: 730px) {
  .head {
    padding-top: 312px;
  }
}
@media (max-width: 450px) {
  .head {
    padding-top: 355px;
  }
}
.head__hp {
  background: url("../img/body-bg.png") 50% 0 no-repeat;
}
.head__log-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-family: Montserrat;
  background: #ffffff;
  margin: auto;
  transition: 500ms;
  z-index: 10;
}
@media (max-width: 730px) {
  .head__log-nav {
    position: absolute;
  }
}
.head__log-nav__inner {
  width: 100%;
  max-width: 1181px;
  margin: auto;
}
.smallerMenu {
  height: 90px;
  overflow: hidden;
}
@media (max-width: 1020px) {
  .smallerMenu {
    height: 160px;
  }
  .smallerMenu .head__log-nav__navigation li {
    line-height: normal;
  }
  .smallerMenu .head__log-nav__navigation .active {
    border-color: transparent;
  }
}
@media (max-width: 730px) {
  .smallerMenu {
    height: 350px;
  }
}
.head__log-nav__logo {
  width: 30%;
  padding-left: 1%;
  float: left;
}
@media (max-width: 1020px) {
  .head__log-nav__logo {
    width: 40.9%;
    text-align: center;
    margin: 0 29.55%;
  }
}
@media (max-width: 450px) {
  .head__log-nav__logo {
    width: 95%;
    margin: 0 2.5%;
  }
}
.head__log-nav__logo .logo {
  display: inline-block;
  width: 14%;
  height: auto;
  margin-right: 1%;
  padding: 5px 0;
  float: left;
}
@media (max-width: 620px) {
  .head__log-nav__logo .logo {
    width: 11.3%;
    margin: 0 44.35%;
    padding: 0;
  }
}
.head__log-nav__logo .logo img {
  width: 100%;
  height: auto;
}
.head__log-nav__logo h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding-top: 22px;
}
@media (max-width: 620px) {
  .head__log-nav__logo h1 {
    padding-top: 40px;
  }
}
.head__log-nav__logo span {
  font-size: 16px;
  font-size: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.head__log-nav__logo a {
  text-decoration: none;
}
.head__log-nav__logo a h1 {
  color: #e8990f;
}
.head__log-nav__logo a span {
  color: #63615c;
}
.head__log-nav__navigation {
  width: 70%;
  float: left;
}
@media (max-width: 1020px) {
  .head__log-nav__navigation {
    width: 90%;
    margin: 0 5%;
  }
}
.head__log-nav__navigation ul {
  list-style-type: none;
  margin: 0 0 0 0.8%;
  padding: 0;
}
@media (max-width: 1010px) {
  .head__log-nav__navigation ul {
    margin-left: 2%;
  }
}
@media (max-width: 1020px) {
  .head__log-nav__navigation ul {
    text-align: center;
    margin-left: 0;
  }
}
@media (max-width: 730px) {
  .head__log-nav__navigation ul {
    margin: 20px 0;
  }
}
.head__log-nav__navigation ul li {
  display: inline-block;
  height: 100%;
  font-weight: lighter;
  text-transform: uppercase;
  border-top: 5px solid transparent;
  line-height: 90px;
  line-height: 5.625rem;
}
@media (max-width: 790px) {
  .head__log-nav__navigation ul li {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media (max-width: 730px) {
  .head__log-nav__navigation ul li {
    width: 100%;
    line-height: normal;
    margin: 5px 0;
  }
}
.head__log-nav__navigation ul li:hover {
  border-color: #e8990f;
}
@media (max-width: 730px) {
  .head__log-nav__navigation ul li:hover {
    border-color: transparent;
  }
}
@media (max-width: 730px) {
  .head__log-nav__navigation ul li {
    width: 100%
				height: auto;
  }
}
.head__log-nav__navigation ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #3f3b34;
  padding: 0 23px;
}
@media (max-width: 1155px) {
  .head__log-nav__navigation ul li a {
    padding: 0 15px;
  }
}
.head__log-nav__navigation ul .dropdown:after {
  position: relative;
  display: inline-block;
  content: "";
  width: 12px;
  height: 8px;
  background: url("../img/icn-dropdown-menu.png") no-repeat;
  vertical-align: middle;
  left: 15%;
}
@media (max-width: 730px) {
  .head__log-nav__navigation ul .dropdown:after {
    left: 2%;
  }
}
.head__log-nav__navigation ul .active {
  border-color: #e8990f;
  font-weight: bold;
}
@media (max-width: 730px) {
  .head__log-nav__navigation ul .active {
    border-color: transparent;
  }
}
.head__banner {
  min-height: 181px;
  background: url("../img/head-banner-bg.png") 100% 50% no-repeat;
  background-size: cover;
  padding: 60px 0 60px 0;
}
@media (max-width: 915px) {
  .head__banner {
    text-align: center;
  }
}
.head__banner h1 {
  width: 64.8%;
  font-family: Montserrat;
  font-size: 36px;
  font-size: 2.250rem;
  font-weight: lighter;
  color: #3f3b34;
  margin: 0;
  float: left;
}
@media (max-width: 915px) {
  .head__banner h1 {
    width: 100%;
    text-align: center;
    float: none;
  }
}
.head__banner a {
  display: block;
  width: auto;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 40px;
  border: 1px solid transparent;
  background: #00a5e2 url("../img/btn-bg.png") 10% 50% no-repeat;
  transition: 300ms;
  padding: 17px 40px;
  float: right;
}
@media (max-width: 915px) {
  .head__banner a {
    width: 40%;
    margin: 20px auto;
    float: none;
  }
}
@media (max-width: 440px) {
  .head__banner a {
    width: 60%;
  }
}
.head__banner a:hover {
  color: #00a5e2;
  border-color: #00a5e2;
  background: #ffffff;
}
.head__slider {
  width: 100%;
  max-width: 1750px;
  margin: auto;
}
.head__slider {
  position: relative;
}
@media (max-width: 770px) {
  .head__slider {
    display: none;
  }
}
.head__slider h1 {
  width: 38.3%;
  font-family: Montserrat-Hairline;
  font-weight: lighter;
  font-size: 75px;
  font-size: 4.688rem;
  color: #63615c;
}
@media (max-width: 910px) {
  .head__slider h1 {
    font-size: 50px;
    font-size: 3.125rem;
  }
}
@media (max-width: 750px) {
  .head__slider h1 {
    width: 100%;
  }
}
.head__slider p {
  width: 24.6%;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
}
@media (max-width: 750px) {
  .head__slider p {
    width: 80%;
    margin: 0 10% 10px 10%;
  }
}
.head__slider .first-slide {
  background: url("../img/head-slider-dog.png") no-repeat;
}
.head__slider .second-slide {
  background: url("../img/head-slider-dog2.png") no-repeat;
}
.head__slider .btn {
  display: inline-block;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 40px;
  border: 1px solid transparent;
  background: #00a5e2 url("../img/btn-bg.png") 5% 50% no-repeat;
  transition: 300ms;
  padding: 17px 30px;
}
.head__slider .btn:hover {
  color: #00a5e2;
  border-color: #00a5e2;
  background: #ffffff;
}
.head__slider__item {
  background-position: 100% 50% !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  overflow: hidden;
  padding-left: 3%;
}
@media (max-width: 750px) {
  .head__slider__item {
    background-image: none;
  }
}
.hp h2 {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #33322e;
  text-align: center;
  margin: 55px 0;
}
.hp h2:before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 19px;
  background: url("../img/icon-paw-h2.png") 50% 0% no-repeat;
  margin-bottom: 5px;
}
.hp-btn {
  width: 210px;
  display: block;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 40px;
  border: 1px solid transparent;
  background: #00a5e2 url("../img/btn-bg.png") 10% 50% no-repeat;
  transition: 300ms;
  margin: 78px auto;
  padding: 17px;
}
.hp-btn:hover {
  color: #00a5e2;
  border-color: #00a5e2;
  background: #ffffff;
}
.hp-banners {
  margin: 40px 0;
}
.hp-banners__item {
  position: relative;
  width: 32.2%;
  height: 179px;
  margin: 0 0.5%;
  float: left;
}
@media (max-width: 690px) {
  .hp-banners__item {
    height: 250px;
  }
}
@media (max-width: 530px) {
  .hp-banners__item {
    width: 90%;
    margin: 20px 5%;
  }
}
.hp-banners__item h3 {
  font-family: Montserrat;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.hp-banners__item img {
  position: absolute;
  right: 2%;
  bottom: 7%;
  transition: 300ms;
}
.hp-banners__item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
}
.hp-banners__item a:hover img {
  right: 0.5%;
}
.hp-banners__item--ordinary-hours {
  background: url("../img/banner-ordinary-hours-bg.png") no-repeat;
  background-size: cover;
}
.hp-banners__item--ordinary-hours h3:before {
  display: inline-block;
  content: "";
  width: 31px;
  height: 31px;
  vertical-align: middle;
  background: url("../img/icn-ordinary-hours.png") no-repeat;
  margin-right: 5%;
}
.hp-banners__item--ordinary-hours p {
  font-family: Raleway, sans-serif;
  font-size: 1.250rem;
  color: #ffffff;
  text-align: left;
  padding: 0 15%;
}
@media (max-width: 845px) {
  .hp-banners__item--ordinary-hours p {
    padding: 0 1%;
  }
}
@media (max-width: 530px) {
  .hp-banners__item--ordinary-hours p {
    padding: 0 15%;
  }
}
.hp-banners__item--ordinary-hours p span {
  font-weight: bold;
  float: right;
}
.hp-banners__item--contact {
  text-align: center;
  background: url("../img/banner-contact-bg.png") no-repeat;
  background-size: cover;
}
.hp-banners__item--contact h3:before {
  display: inline-block;
  content: "";
  width: 28px;
  height: 26px;
  vertical-align: middle;
  background: url("../img/icn-contact.png") no-repeat;
  margin-right: 5%;
}
.hp-banners__item--contact p {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #ffffff;
}
.hp-banners__item--contact p span {
  position: relative;
  bottom: 9px;
  font-weight: bold;
  color: #ffffff;
}
.hp-banners__item--contact span {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #ffffff;
}
.hp-banners__item--our-team {
  text-align: center;
  background: url("../img/banner-our-team-bg.png") no-repeat;
  background-size: cover;
}
.hp-banners__item--our-team p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  padding: 0 10%;
}
.hp-services__item {
  position: relative;
  width: 25.6%;
  font-family: Relaway, sans-serif;
  text-align: center;
  margin: 0 3.8%;
  float: left;
}
@media (max-width: 445px) {
  .hp-services__item {
    width: 90%;
    margin: 30px 5%;
  }
}
.hp-services__item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  border-bottom: 4px solid transparent;
  transition: 300ms;
}
.hp-services__item a:hover {
  border-color: #E8990F;
}
.hp-services__item span {
  display: inline-block;
  width: 63.6%;
  height: auto;
}
.hp-services__item span img {
  width: 100%;
  height: auto;
}
.hp-services__item h3 {
  font-size: 24px;
  font-size: 1.250rem;
  font-weight: bold;
  color: #33322e;
}
.hp-services__item p {
  font-weight: lighter;
}
.hp-services__item .circle {
  position: absolute;
  top: 45%;
  right: 22%;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background: #e8990f url("../img/hp-services-arrow-bg.png") 50% 50% no-repeat;
}
@media (max-width: 1080px) {
  .hp-services__item .circle {
    top: 30%;
  }
}
@media (max-width: 655px) {
  .hp-services__item .circle {
    top: 20%;
  }
}
@media (max-width: 465px) {
  .hp-services__item .circle {
    display: none;
  }
}
.hp-dermat-center {
  min-height: 395px;
  font-family: Montserrat;
  background: url("../img/hp-dermat-center-bg.png") 100% 50% no-repeat;
}
@media (max-width: 990px) {
  .hp-dermat-center {
    text-align: center;
  }
}
@media (max-width: 620px) {
  .hp-dermat-center {
    background: #f0eff1;
    background-image: none;
  }
}
.hp-dermat-center h3 {
  width: 45%;
  font-size: 48px;
  font-size: 3rem;
  font-weight: lighter;
  color: #00a5e2;
  padding-top: 100px;
}
@media (max-width: 990px) {
  .hp-dermat-center h3 {
    width: 100%;
    text-align: center;
    background: rgba(240, 239, 241, 0.3);
  }
}
@media (max-width: 620px) {
  .hp-dermat-center h3 {
    font-size: 32px;
    font-size: 2rem;
  }
}
@media (max-width: 360px) {
  .hp-dermat-center h3 {
    font-size: 25px;
    font-size: 1.563rem;
  }
}
.hp-dermat-center h3 span {
  font-weight: bold;
}
.hp-dermat-center p {
  font-size: 20px;
  font-size: 1.25rem;
  color: #666666;
}
.hp-dermat-center p:after {
  display: inline-block;
  content: "";
  width: 35px;
  height: 35px;
  vertical-align: middle;
  border-radius: 50px;
  background: #e8990f url("../img/hp-services-arrow-bg.png") 50% 50% no-repeat;
  margin-left: 15px;
}
.hp-dermat-center a {
  display: inline-block;
  width: auto;
  color: #666666;
  background-color: none;
  transition: 300ms;
  text-decoration: none;
  margin-right: 0;
  padding: 1%;
}
.hp-dermat-center a:hover {
  color: #ffffff;
  background-color: #00a5e2;
  margin-right: 15px;
}
.hp-about-us {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #474644;
}
@media (max-width: 700px) {
  .hp-about-us {
    text-align: center;
  }
}
.hp-about-us span {
  font-weight: bold;
}
.hp-about-us__img {
  display: inline-block;
  width: 56.9%;
  height: auto;
  float: right;
  margin-left: 2%;
}
@media (max-width: 700px) {
  .hp-about-us__img {
    margin: 0 21.5% 20px 21.5%;
    float: none;
  }
}
.hp-about-us__img img {
  width: 100%;
  height: auto;
}
.hp-about-us__fb-banner {
  display: inline-block;
  width: 28.1%;
  height: auto;
  margin-top: 52px;
  float: left;
}
@media (max-width: 700px) {
  .hp-about-us__fb-banner {
    float: none;
  }
}
.hp-about-us__fb-banner img {
  width: 100%;
  height: auto;
}
.hp-news__item {
  position: relative;
  width: 32.2%;
  height: 176px;
  font-family: Raleway, sans-serif;
  background: url("../img/banner-news-hp.png") no-repeat;
  margin: 0 0.5%;
  float: left;
}
@media (max-width: 550px) {
  .hp-news__item {
    width: 69.1%;
    margin: 10px 15.4%;
  }
}
.hp-news__item .img {
  width: 100%;
  height: auto;
}
.hp-news__item .img img {
  width: 100%;
  height: auto;
}
.hp-news__item span {
  display: inline-block;
  font-weight: lighter;
  color: #ffffff;
  padding: 10% 4% 0 4%;
}
.hp-news__item h4 {
  font-weight: bold;
  color: #ffffff;
  margin-top: 0;
  padding: 0 4%;
}
.hp-news__item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
}
.hp-news__item a:hover .arrow {
  right: 0.5%;
}
.hp-news__item .arrow {
  position: absolute;
  right: 2%;
  bottom: 7%;
  transition: 300ms;
}
.hp-map {
  position: relative;
}
.hp-map__form {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 500px;
  font-family: Raleway, sans-serif;
  text-align: center;
  background: #fefdfc;
  padding: 2%;
}
@media (max-width: 625px) {
  .hp-map__form {
    left: 0;
  }
}
@media (max-width: 510px) {
  .hp-map__form {
    display: none;
  }
}
.hp-map__form h2 {
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
}
.hp-map__form h2:before {
  display: none;
}
.hp-map__form input[type="text"] {
  width: 100%;
  border: none;
  border-radius: 5px;
  border: 1px solid #e0e1e1;
  background: #ffffff;
  margin-bottom: 10px;
  padding: 4% 2%;
}
.hp-map__form input[type="submit"] {
  width: 210px;
  height: 55px;
  font-family: Montserrat;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background: #00a5e2 url("../img/btn-bg.png") 5% 50% no-repeat;
  margin-top: 15px;
}
.hp-map__form textarea {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 5px;
  border: 1px solid #e0e1e1;
  background: #ffffff;
  padding: 4% 2%;
}
.contact__left {
  width: 48%;
  margin-right: 2%;
  float: left;
}
@media (max-width: 600px) {
  .contact__left {
    width: 100%;
    margin: 0;
  }
}
.contact__right {
  width: 48%;
  margin-left: 2%;
  float: left;
}
@media (max-width: 600px) {
  .contact__right {
    width: 100%;
    margin: 0;
  }
}
.img {
  width: 95.3%;
  height: auto;
}
.img img {
  width: 100%;
  height: auto;
}
.news__item {
  position: relative;
  width: 48.7%;
  height: 176px;
  font-family: Raleway, sans-serif;
  background: url("../img/banner-news-hp.png") no-repeat;
  margin: 30px 0.6% 0 0.6%;
  float: left;
}
@media (max-width: 550px) {
  .news__item {
    width: 69.1%;
    margin: 10px 15.4%;
  }
}
.news__item .img {
  width: 100%;
  height: auto;
}
.news__item .img img {
  width: 100%;
  height: auto;
}
.news__item span {
  display: inline-block;
  font-weight: lighter;
  color: #ffffff;
  padding: 12% 4% 0 4%;
}
.news__item h4 {
  font-weight: bold;
  color: #ffffff;
  margin-top: 0;
  padding: 0 4%;
}
.news__item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
}
.news__item a:hover .arrow {
  right: 0.5%;
}
.news__item .arrow {
  position: absolute;
  right: 2%;
  bottom: 7%;
  transition: 300ms;
}
.about-clinic__full-img {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.about-clinic__full-img img {
  width: 100%;
  height: auto;
}
.about-clinic__people__item {
  position: relative;
  width: 23.5%;
  height: 183px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  margin: 30px 4.9%;
  float: left;
}
@media (max-width: 490px) {
  .about-clinic__people__item {
    width: 37.4%;
    height: 150px;
    margin: 30px 6.3%;
  }
}
.about-clinic__people__item:hover .about-clinic__people__item__hover {
  display: block;
}
.about-clinic__people__item__img {
  width: 100%;
  height: auto;
}
.about-clinic__people__item__img p {
  margin: 0;
}
.about-clinic__people__item__img img {
  width: 100%;
  height: auto;
}
.about-clinic__people__item__hover {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
  background: rgba(0, 165, 226, 0.8);
}
.about-clinic__people__item__hover p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 30px;
}
.about-clinic__people__item__hover p span {
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: lighter;
  text-transform: none;
  margin-top: 15px;
}
.service__item {
  margin: 30px 0 50px 0;
}
.service__item h3:after {
  display: inline-block;
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e8990f url("../img/hp-services-arrow-bg.png") 50% 50% no-repeat;
  vertical-align: middle;
  transition: 300ms;
  margin-left: 3%;
}
.service__item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.service__item a:hover h3:after {
  margin-left: 5%;
}
.service__item__img {
  display: inline-block;
  width: 22.3%;
  height: auto;
  margin-right: 2%;
  float: left;
}
.service__item__img img {
  width: 100%;
  height: auto;
}
.service__item__img--right {
  margin-left: 2%;
  margin-right: 0;
  float: right;
}
