.head {
	width: 100%;
	height: auto;
	padding-top: 165px;

	@media (max-width: 730px) {
		padding-top: 312px;
	}

	@media (max-width: 450px) {
		padding-top: 355px;
	}
}

.head__hp {
	background: url("../img/body-bg.png") 50% 0 no-repeat;
}

.head__log-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	font-family: Montserrat;
	background: #ffffff;
	margin: auto;
	transition: 500ms;
	z-index: 10;

	@media(max-width: 730px) {
		position: absolute;
	}
}

.head__log-nav__inner {
	width: 100%;
	max-width: 1181px;
	margin: auto;
}

.smallerMenu {
	height: 90px;
	overflow: hidden;

	@media (max-width: 1020px) {
		height: 160px;

		.head__log-nav__navigation {
			li {
				line-height: normal;
			}

			.active {
				border-color: transparent;
			}
		}
	}

	@media (max-width: 730px) {
		height: 350px;
	}

}

.head__log-nav__logo {
	width: 30%;
	padding-left: 1%;
	float: left;

	@media (max-width: 1020px) {
		width: 40.9%;
		text-align: center;
		margin: 0 29.55%;
	}

	@media (max-width: 450px) {
		width: 95%;
		margin: 0 2.5%;
	}

	.logo {
		display: inline-block;
		width: 14%;
		height: auto;
		margin-right: 1%;
		padding: 5px 0;
		float: left;

		@media (max-width: 620px) {
			width: 11.3%;
			margin: 0 44.35%;
			padding: 0;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	h1 {
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
		padding-top: 22px;

		@media (max-width: 620px) {
			padding-top: 40px;
		}
	}

	span {
		font-size: 16px;
		font-size: 1rem;
		font-weight: lighter;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
			h1 {
				color: #e8990f;
			}

			span {
				color: #63615c;
			}
	}
}

.head__log-nav__navigation {
	width: 70%;
	float: left;

	@media (max-width: 1020px) {
		width: 90%;
		margin: 0 5%;
	}

	ul {
		list-style-type: none;
		margin: 0 0 0 0.8%;
		padding: 0;

		@media (max-width: 1010px) {
			margin-left: 2%;
		}

		@media (max-width: 1020px) {
			text-align: center;
			margin-left: 0;
		}

		@media (max-width: 730px) {
			margin: 20px 0;
		}

		li {
			display: inline-block;
			height: 100%;
			font-weight: lighter;
			text-transform: uppercase;
			border-top: 5px solid transparent;
			line-height: 90px;
			line-height: 5.625rem;

			@media (max-width: 790px) {
				font-size: 14px;
				font-size: 0.875rem;
			}

			@media (max-width: 730px) {
				width: 100%;
				line-height: normal;
				margin: 5px 0;
			}

			&:hover {
				border-color: #e8990f;

				@media (max-width: 730px) {
					border-color: transparent;
				}
			}

			@media(max-width: 730px) {
				width: 100%
				height: auto;
			}

			a {
				display: inline-block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				color: #3f3b34;
				padding: 0 23px;

				@media (max-width: 1155px) {
					padding: 0 15px;
				}
			}
		}

		.dropdown {
			&:after {
				position: relative;
				display: inline-block;
				content: "";
				width: 12px;
				height: 8px;
				background: url("../img/icn-dropdown-menu.png") no-repeat;
				vertical-align: middle;
				left: 15%;

				@media (max-width: 730px) {
					left: 2%;
				}
			}
		}

		.active {
			border-color: #e8990f;
			font-weight: bold;

			@media (max-width: 730px) {
				border-color: transparent;
			}
		}
	}
}

.head__banner {
	min-height: 181px;
	background: url("../img/head-banner-bg.png") 100% 50% no-repeat;
	background-size: cover;
	padding: 60px 0 60px 0;

	@media (max-width: 915px) {
		text-align: center;
	}

	h1 {
		width: 64.8%;
		font-family: Montserrat;
		font-size: 36px;
		font-size: 2.250rem;
		font-weight: lighter;
		color: #3f3b34;
		margin: 0;
		float: left;

		@media (max-width: 915px) {
			width: 100%;
			text-align: center;
			float: none;
		}
	}

	a {
		display: block;
		width: auto;
		font-family: Montserrat;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		color: #ffffff;
		border-radius: 40px;
		border: 1px solid transparent;
		background: #00a5e2 url("../img/btn-bg.png") 10% 50% no-repeat;
		transition: 300ms;
		padding: 17px 40px;
		float: right;

		@media (max-width: 915px) {
			width: 40%;
			margin: 20px auto;
			float: none;
		}

		@media (max-width: 440px) {
			width: 60%;
		}

		&:hover {
			color: #00a5e2;
			border-color: #00a5e2;
			background: #ffffff;
		}
	}
}

.head__slider {
	width: 100%;
	max-width: 1750px;
	margin: auto;
}

.head__slider {
	position: relative;

	@media (max-width: 770px) {
		display: none;
	}

	h1 {
		width: 38.3%;
		font-family: Montserrat-Hairline;
		font-weight: lighter;
		font-size: 75px;
		font-size: 4.688rem;
		color: #63615c;

		@media (max-width: 910px) {
			font-size: 50px;
			font-size: 3.125rem;
		}

		@media (max-width: 750px) {
			width: 100%;
		}
	}

	p {
		width: 24.6%;
		font-family: Raleway, sans-serif;
		font-size: 18px;
		font-size: 1.125rem;

		@media (max-width: 750px) {
			width: 80%;
			margin: 0 10% 10px 10%;
		}
	}

	.first-slide {
		background: url("../img/head-slider-dog.png") no-repeat;
	}

	.second-slide {
		background: url("../img/head-slider-dog2.png") no-repeat;
	}

	.btn {
		display: inline-block;
		font-family: Montserrat;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		color: #ffffff;
		border-radius: 40px;
		border:1px solid transparent;
		background: #00a5e2 url("../img/btn-bg.png") 5% 50% no-repeat;
		transition: 300ms;
		padding: 17px 30px;

		&:hover {
			color: #00a5e2;
			border-color: #00a5e2;
			background: #ffffff;
		}
	}
}

.head__slider__item {
	background-position: 100% 50% !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	overflow: hidden;
	padding-left: 3%;

	@media (max-width: 750px) {
		background-image: none;
	}
}