.hp {
	h2 {
		font-family: Raleway, sans-serif;
		font-size: 24px;
		font-size: 1.5rem;
		text-transform: uppercase;
		color: #33322e;
		text-align: center;
		margin: 55px 0;

		&:before {
			display: inline-block;
			content: "";
			width: 100%;
			height: 19px;
			background: url("../img/icon-paw-h2.png") 50% 0% no-repeat;
			margin-bottom: 5px;
		}
	}
}

.hp-btn {
	width: 210px;
	display: block;
	font-family: Montserrat;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	border-radius: 40px;
	border: 1px solid transparent;
	background: #00a5e2 url("../img/btn-bg.png") 10% 50% no-repeat;
	transition: 300ms;
	margin: 78px auto;
	padding: 17px;

	&:hover {
		color: #00a5e2;
		border-color: #00a5e2;
		background: #ffffff;
	}
}

.hp-banners {
	margin: 40px 0;
}

.hp-banners__item {
	position: relative;
	width: 32.2%;
	height: 179px;
	margin: 0 0.5%;
	float: left;

	@media (max-width: 690px) {
		height: 250px;
	}

	@media (max-width: 530px) {
		width: 90%;
		margin: 20px 5%;
	}

	h3 {
		font-family: Montserrat;
		font-size: 1.5em;
		text-transform: uppercase;
		text-align: center;
		color: #ffffff;
	}

	img {
		position: absolute;
		right: 2%;
		bottom: 7%;
		transition: 300ms;
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: #ffffff;
		text-decoration: none;

		&:hover {
			img {
				right: 0.5%;
			}
		}
	}
}

.hp-banners__item--ordinary-hours {
	background: url("../img/banner-ordinary-hours-bg.png") no-repeat;
	background-size: cover;

	h3:before {
		display: inline-block;
		content: "";
		width: 31px;
		height: 31px;
		vertical-align: middle;
		background: url("../img/icn-ordinary-hours.png") no-repeat;
		margin-right: 5%; 
	}

	p {
		font-family: Raleway, sans-serif;
		font-size: 1.250rem;
		color: #ffffff;
		text-align: left;
		padding: 0 15%;

		@media (max-width: 845px) {
			padding: 0 1%;
		}

		@media (max-width: 530px) {
			padding: 0 15%;
		}

		span {
			font-weight: bold;
			float: right;
		}
	}
}

.hp-banners__item--contact {
	text-align: center;
	background: url("../img/banner-contact-bg.png") no-repeat;
	background-size: cover;

	h3:before {
		display: inline-block;
		content: "";
		width: 28px;
		height: 26px;
		vertical-align: middle;
		background: url("../img/icn-contact.png") no-repeat;
		margin-right: 5%; 
	}

	p {
		font-family: Raleway, sans-serif;
		font-size: 1rem;
		font-weight: lighter;
		color: #ffffff;

		span {
			position: relative;
			bottom: 9px;
			font-weight: bold;
			color: #ffffff;
		}
	}

	span {
		font-family: Raleway, sans-serif;
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: bold;
		color: #ffffff;
	}
}

.hp-banners__item--our-team {
	text-align: center;
	background: url("../img/banner-our-team-bg.png") no-repeat;
	background-size: cover;

	p {
		font-family: Raleway, sans-serif;
		font-size: 16px;
		font-size: 1rem;
		font-weight: bold;
		color: #ffffff;
		padding: 0 10%;
	}
}

.hp-services__item {
	position: relative;
	width: 25.6%;
	font-family: Relaway, sans-serif;
	text-align: center;
	margin: 0 3.8%;
	float: left;

	@media (max-width: 445px) {
		width: 90%;
		margin: 30px 5%;
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: inherit;
		border-bottom: 4px solid transparent;
		transition: 300ms;

		&:hover {
			border-color: #E8990F;
		}
	}

	span {
		display: inline-block;
		width: 63.6%;
		height: auto;

		img {
			width: 100%;
			height: auto;
		}
	}

	h3 {
		font-size: 24px;
		font-size: 1.250rem;
		font-weight: bold;
		color: #33322e;
	}

	p {
		font-weight: lighter;
	}

	.circle {
		position: absolute;
		top: 45%;
		right: 22%;
		width: 35px;
		height: 35px;
		border-radius: 50px;
		background: #e8990f url("../img/hp-services-arrow-bg.png") 50% 50% no-repeat;

		@media (max-width: 1080px) {
			top: 30%;
		}

		@media (max-width: 655px) {
			top: 20%;
		}

		@media (max-width: 465px) {
			display: none;
		}
	}
}

.hp-dermat-center {
	min-height: 395px;
	font-family: Montserrat;
	background: url("../img/hp-dermat-center-bg.png") 100% 50% no-repeat;

	@media (max-width: 990px) {
		text-align: center;
	}

	@media (max-width: 620px) {
		background: #f0eff1;
		background-image: none;
	}

	h3 {
		width: 45%;
		font-size: 48px;
		font-size: 3rem;
		font-weight: lighter;
		color: #00a5e2;
		padding-top: 100px;

		@media (max-width: 990px) {
			width: 100%;
			text-align: center;
			background: rgba(240, 239, 241, .3);
		}

		@media (max-width: 620px) {
			font-size: 32px;
			font-size: 2rem;
		}

		@media (max-width: 360px) {
			font-size: 25px;
			font-size: 1.563rem;
		}

		span {
			font-weight: bold;
		}
	}

	p {
		font-size: 20px;
		font-size: 1.25rem;
		color: #666666;

		&:after {
			display: inline-block;
			content: "";
			width: 35px;
			height: 35px;
			vertical-align: middle;
			border-radius: 50px;
			background: #e8990f url("../img/hp-services-arrow-bg.png") 50% 50% no-repeat;
			margin-left: 15px;
		}
	}

	a {
		display: inline-block;
		width: auto;
		color: #666666;
		background-color: none;
		transition: 300ms;
		text-decoration: none;
		margin-right: 0;
		padding: 1%;

		&:hover {
			color: #ffffff;
			background-color: #00a5e2;
			margin-right: 15px;
		}
	}
}

.hp-about-us {
	font-family: Raleway, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	color: #474644;

	@media (max-width: 700px) {
		text-align: center;
	}

	span {
			font-weight: bold;
		}
}

.hp-about-us__img {
	display: inline-block;
	width: 56.9%;
	height: auto;
	float: right;
	margin-left: 2%;

	@media (max-width: 700px) {
		margin: 0 21.5% 20px 21.5%;
		float: none;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.hp-about-us__fb-banner {
	display: inline-block;
	width: 28.1%;
	height: auto;
	margin-top: 52px;
	float: left;

	@media (max-width: 700px) {
		float: none;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.hp-news__item {
	position: relative;
	width: 32.2%;
	height: 176px;
	font-family: Raleway, sans-serif;
	background: url("../img/banner-news-hp.png") no-repeat;
	margin: 0 0.5%;
	float: left;

	@media (max-width: 550px) {
		width: 69.1%;
		margin: 10px 15.4%;
	}

	.img {
		width: 100%;
		height: auto;

		img {
			width: 100%;
			height: auto;
		}
	}

	span {
		display: inline-block;
		font-weight: lighter;
		color: #ffffff;
		padding: 10% 4% 0 4%;
	}

	h4 {
		font-weight: bold;
		color: #ffffff;
		margin-top: 0;
		padding: 0 4%;
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: #ffffff;
		text-decoration: none;

		&:hover {
			.arrow {
				right: 0.5%;
			}
		}
	}

	.arrow {
		position: absolute;
		right: 2%;
		bottom: 7%;
		transition: 300ms;
	}
}

.hp-map {
	position: relative;
}

.hp-map__form {
	position: absolute;
	top: 5%;
	left: 20%;
	width: 500px;
	font-family: Raleway, sans-serif;
	text-align: center;
	background: #fefdfc;
	padding: 2%;

	@media (max-width: 625px) {
		left: 0;
	}

	@media (max-width: 510px) {
		display: none;
	}

	h2 {
		text-align: left;
		text-transform: uppercase;
		margin-top: 0;

		&:before {
			display: none;
		}
	}

	input[type="text"] {
		width: 100%;
		border: none;
		border-radius: 5px;
		border: 1px solid #e0e1e1;
		background: #ffffff;
		margin-bottom: 10px;
		padding: 4% 2%;
	}

	input[type="submit"] {
		width: 210px;
		height: 55px;
		font-family: Montserrat;
		font-size: 16px;
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: #ffffff;
		cursor: pointer;
		border: none;
		border-radius: 40px;
		background: #00a5e2 url("../img/btn-bg.png") 5% 50% no-repeat;
		margin-top: 15px;
	}

	textarea {
		width: 100%;
		height: 200px;
		border: none;
		border-radius: 5px;
		border: 1px solid #e0e1e1;
		background: #ffffff;
		padding: 4% 2%;
	}
}