.news__item {
	position: relative;
	width: 48.7%;
	height: 176px;
	font-family: Raleway, sans-serif;
	background: url("../img/banner-news-hp.png") no-repeat;
	margin: 30px 0.6% 0 0.6%;
	float: left;

	@media (max-width: 550px) {
		width: 69.1%;
		margin: 10px 15.4%;
	}

	.img {
		width: 100%;
		height: auto;

		img {
			width: 100%;
			height: auto;
		}
	}

	span {
		display: inline-block;
		font-weight: lighter;
		color: #ffffff;
		padding: 12% 4% 0 4%;
	}

	h4 {
		font-weight: bold;
		color: #ffffff;
		margin-top: 0;
		padding: 0 4%;
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: #ffffff;
		text-decoration: none;

		&:hover {
			.arrow {
				right: 0.5%;
			}
		}
	}

	.arrow {
		position: absolute;
		right: 2%;
		bottom: 7%;
		transition: 300ms;
	}
}