.service__item {
	margin: 30px 0 50px 0;

	h3 {
		
		&:after {
			display: inline-block;
			content: "";
			width: 35px;
			height: 35px;
			border-radius: 50%;
			background: #e8990f url("../img/hp-services-arrow-bg.png") 50% 50% no-repeat;
			vertical-align: middle;
			transition: 300ms;
			margin-left: 3%;
		}
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		text-decoration: none;

		&:hover {
			h3 {
				&:after {
					margin-left: 5%;
				}
			}
		}
	}
}

.service__item__img {
	display: inline-block;
	width: 22.3%;
	height: auto;
	margin-right: 2%;
	float: left;

	img {
		width: 100%;
		height: auto;
	}
}

.service__item__img--right {
	margin-left: 2%;
	margin-right: 0;
	float: right;
}