* {
	box-sizing: border-box
}

body {
	margin: 0;
	padding: 0;
}

@font-face {
font-family: Montserrat;
src: url("../fonts/Montserrat.otf") format("opentype");
src: url('../fonts/Montserrat.eot') format("embedded-opentype");
}

@font-face {
font-family: Montserrat;
font-weight: bold;
src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
font-family: Montserrat;
font-weight: bolder;
src: url("../fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
font-family: Montserrat;
font-weight: lighter;
src: url("../fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
font-family: Montserrat-Hairline;
src: url("../fonts/Montserrat-Hairline.otf") format("opentype");
}

@font-face {
font-family: Raleway, sans-serif;
src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
font-family: Raleway, sans-serif;
font-weight: lighter;
src: url("../fonts/Raleway-Light.ttf") format("truetype");
}

@font-face {
font-family: Raleway, sans-serif;
font-weight: bold;
src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

h2 {
	font-family: Raleway, sans-serif;
	font-size: 24px;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #33322e;
	text-align: center;
	margin: 55px 0;

	&:before {
		display: inline-block;
		content: "";
		width: 100%;
		height: 19px;
		background: url("../img/icon-paw-h2.png") 50% 0% no-repeat;
		margin-bottom: 5px;
	}
}

.bg-cat {
	display: none;

	@media (max-width: 1900px) {
		display: none;
	}
}

.bg-cat--sp {
	display: none;
	bottom: 500px;
}

.bg-catTop {
	position: absolute;
	top: 650px;
	left: 0;

	@media (max-width: 1900px) {
		display: none;
	}
}

.bg-catTop--sp {
	top: 400px;
}

.bg-dog {
	position: absolute;
	top: 1020px;
	right: 0;

	@media (max-width: 1900px) {
		display: none;
	}
}

.inner-wrapper {
	width: 100%;
	max-width: 1181px;
	margin: auto;
	padding: 0 1%;
}

.content {
	width: 100%;
	max-width: 1181px;
	margin: auto;

	@media (max-width: 1181px) {
		padding: 0 1%;
	}
}

.content__left {
	width: 66%;
	margin-right: 1.5%;
	padding: 0 1%;
	float: left;

	@media (max-width: 915px) {
		width: 90%;
		margin: 0 5%;
	}

	h3 {
		font-family: Raleway, sans-serif;
		font-size: 20px;
		font-size: 1.250rem;
		font-weight: bolder;
		color: #33322e;
		margin: 30px 0;

		@media (max-width: 915px) {
			text-align: center;
		}
	}

	h4 {
		font-family: Raleway, sans-serif;
		font-size: 16px;
		font-size: 1rem;
		font-weight: bolder;
		color: #33322e;
	}

	h5 {
		font-family: Raleway, sans-serif;
		font-size: 16px;
		font-size: 1rem;
		font-weight: bolder;
		text-transform: uppercase;
		color: #00a5e2;
	}

	h6 {
		font-family: Raleway, sans-serif;
		font-size: 16px;
		font-size: 1rem;
		font-weight: bolder;
		text-transform: uppercase;
		color: #00a5e2;
	}

	p {
		font-family: Raleway, sans-serif;
		font-size: 16px;
		font-size: 1rem;
		font-weight: normal;
		color: #33322e;

		@media (max-width: 915px) {
			line-height: 1.5rem;
		}
	}

	a {
		font-weight: bold;
		text-decoration: underline;
		color: #e8990f;

		&:hover {
			text-decoration: none;
		}
	}

	ul {
		font-family: Raleway, sans-serif;
	}
}

.content__right {
	width: 32.4%;
	float: left;

	@media (max-width: 915px) {
		width: 90%;
		margin: 0 5%;
	}
}

.sp-contact-form {
	text-align: center;

	input[type="text"] {
		width: 48%;
		height: 57px;
		font-family: Raleway, sans-serif;
		font-size: 18px;
		font-size: 1.125rem;
		border: none;
		border-radius: 4px;
		border: 1px solid #e0e1e1;
		background: #ffffff;
		margin-right: 1%;
		padding: 0 2%;
		float: left;
	}

	input[type="submit"] {
		width: 210px;
		height: 55px;
		font-family: Montserrat;
		font-size: 16px;
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: #ffffff;
		cursor: pointer;
		border: none;
		border-radius: 40px;
		background: #00a5e2 url("../img/btn-bg.png") 5% 50% no-repeat;
		margin-top: 15px;
	}

	textarea {
		width: 97%;
		height: 200px;
		font-family: Raleway, sans-serif;
		font-size: 18px;
		font-size: 1.125rem;
		border: none;
		border-radius: 4px;
		border: 1px solid #e0e1e1;
		background: #ffffff;
		margin-top: 10px;
		padding: 2%;
		float: left;
	}
}

.side-menu {
	ul {
		list-style-type: none;
		margin: 40px 0 0 0;
		padding: 0;
	}

	li {
		display: inline-block;
		width: 100%;
		font-family: Raleway, sans-serif;
		font-weight: bold;
		font-size: 16px;
		font-size: 1rem;
		margin: 5px 0 0 0;
		

		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: #52514e;
			border-radius: 4px;
			background: #e7e9ea url("../img/icon-side-menu-arrow.png") 95% 50% no-repeat;
			transition: 300ms;
			padding: 20px 5%;

			&:hover {
				color: #ffffff;
				background: #00a5e2 url("../img/icon-side-menu-arrow-hover.png") 95% 50% no-repeat;
			}
		}
	}

	.active {
		a {
			color: #ffffff;
			background: #00a5e2 url("../img/icon-side-menu-arrow-hover.png") 95% 50% no-repeat;
		}
	}
}

.sp-banner-emergency {
	height: 141px;
	text-align: center;
	background: #da8f11 url("../img/sp-banner-emergency.png") no-repeat;
	background-size: cover;
	margin: 30px 0 10px 0;

	span {
		display: inline-block;
		font-family: Montserrat;
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: bold;
		color: #1d1916;
		text-transform: uppercase;
		margin-top: 10px;

		&:before {
			display:inline-block;
			content: "";
			width: 34px;
			height: 38px;
			background: url("../img/icon-emergency.png") no-repeat;
			vertical-align: middle;
			margin-right: 10px;
		}
	}

	p {
		font-family: Raleway, sans-serif;
		font-size: 36px;
		font-size: 2.250rem;
		color: #ffffff;
		margin: 0;

		@media (max-width: 360px) {
			font-size: 25px;
			font-size: 1.563rem;
		}
	}
}

.sp-banner-ordinary-hours {
	height: 189px;
	text-align: center;
	background: url("../img/banner-ordinary-hours-bg.png") no-repeat;
	background-size: cover;

	.title {
		display: inline-block;
		font-family: Montserrat;
		font-size: 24px;
		font-size: 1.5em;
		font-weight: bold;
		text-transform: uppercase;
		color: #ffffff;
		margin-top: 20px;

	&:before {
			display: inline-block;
			content: "";
			width: 31px;
			height: 31px;
			vertical-align: middle;
			background: url("../img/icn-ordinary-hours.png") no-repeat;
			margin-right: 20px; 
		}
	}

	p {
		font-family: Raleway, sans-serif;
		font-size: 1.250rem;
		color: #ffffff;
		text-align: left;
		padding: 0 15%;

		@media (max-width: 360px) {
			font-size: 16px;
			font-size: 1rem;
		}

		span {
			font-weight: bold;
			float: right;
		}
	}
}

.sp-banner-derma-center {
	height: 179px;
	background: url("../img/banner-sp-derma-center.png") no-repeat;
	background-size: cover;
	margin-top: 10px;
	clear: both;

	span {
		display: inline-block;
		font-family: Montserrat;
		font-size: 20px;
		font-size: 1.250rem;
		font-weight: lighter;
		margin-top: 50px;
		padding: 0 4%;

		&:after {
			display: block;
			content: "";
			width: 40px;
			height: 40px;
			vertical-align: middle;
			border-radius: 50px;
			background: #e8990f url("../img/hp-services-arrow-bg.png") 50% 50% no-repeat;
			margin-top: 10px;
			transition: 300ms;
		}

		strong {
			font-weight: bold;
		}
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: #3f3b34;
		text-decoration: none;

		&:hover {
			span {
				&:after {
					margin-left: 10px;
				}
			}
		}
	}
}

.pagination {
	height: 53px;
	font-family: Raleway, sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 60px 0;

	a {
		display: inline-block;
		width: 38px;
		height: 38px;
		font-size: 17px;
		font-size: 1.063rem;
		text-decoration: none;
		color: #3d4041;
		border-radius: 50px;
		background: #e1e6e8;
		transition: 300ms;
		padding: 7px 0;

		&:hover {
			width: 53px;
			height: 53px;
			font-size: 24px;
			font-size: 1.500rem;
			color: #ffffff;
			background: #00a5e2;
			padding: 10px 0;
		}
	}

	.active {
		width: 53px;
		height: 53px;
		font-size: 24px;
		font-size: 1.500rem;
		color: #ffffff;
		background: #00a5e2;
		padding: 10px 0;
	}
}

.fb-page {
	width: 100% !important;
	margin-top: 10px;

	@media (max-width: 915px) {
		display: none;
	}
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	width: 100% !important;

	@media (max-width: 915px) {
		display: none;
	}
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.footer {
	font-family: 'Open-sans', sans-serif;
	font-size: 13px;
	font-size: 0.813rem;
	letter-spacing: .7px;
	color: #cfcfcf;
	background: #33322E;
	padding: 10px 0;

	@media (max-width: 695px) {
		text-align: center;
	}

	p {
		display: inline-block;
		margin: 12px 0 10px 0;
		vertical-align: middle;

		@media (max-width: 695px) {
			width: 100%;
		}
	}

	span {
		float: right;

		@media (max-width: 695px) {
			float: none;
		}
	}

	img {
		vertical-align: middle;
		margin-left: 15px;
	}
}

